---
---

:root {
    --pride--original-rainbow-flag--hot-pink:  #FF80AB;
    --pride--original-rainbow-flag--red:       #F44336;
    --pride--original-rainbow-flag--orange:    #FF9800;
    --pride--original-rainbow-flag--yellow:    #FFEB3B;
    --pride--original-rainbow-flag--green:     #388E3C;
    --pride--original-rainbow-flag--turquoise: #26C6DA;
    --pride--original-rainbow-flag--indigo:    #311B92;
    --pride--original-rainbow-flag--violet:    #8E24AA;
}



.chevron-header {

    position: relative;
    left: -1em;

    &::before {
        content: "  ";
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        left: -1ex;
        display: inline-block;
        height: 1em;
        width: 1em;

        @media (max-width: 960px) {
            left: 0;
            margin-inline-end: 1ex;
        }
    }

    &.pink-and-red::before {
        background-image: url("/images/Pride Flags/GSM Pride Flag - Chevron (Pink & Red).svg");
    }

    &.orange::before {
        background-image: url("/images/Pride Flags/GSM Pride Flag - Chevron (Orange).svg");
    }

    &.yellow::before {
        background-image: url("/images/Pride Flags/GSM Pride Flag - Chevron (Yellow).svg");
    }

    &.green::before {
        background-image: url("/images/Pride Flags/GSM Pride Flag - Chevron (Green).svg");
    }

    &.cyan::before {
        background-image: url("/images/Pride Flags/GSM Pride Flag - Chevron (Cyan).svg");
    }

    &.indigo::before {
        background-image: url("/images/Pride Flags/GSM Pride Flag - Chevron (Indigo).svg");
    }

    &.purple::before {
        background-image: url("/images/Pride Flags/GSM Pride Flag - Chevron (Purple).svg");
    }

    &.silver-and-grey::before {
        background-image: url("/images/Pride Flags/GSM Pride Flag - Chevron (Silver & Grey).svg");
    }


    &.yellow::before {
        background-color: #{"hsl(0deg, 0%, 50%, 40%)"};
        border-radius: 0.5ex;


        .brightness-dark &,
        .brightness-black & {
            background-color: transparent;
            border-radius: 0;
        }
    }


    &.indigo::before {
        .brightness-dark &,
        .brightness-black & {
            background-color: #{"hsl(0deg, 0%, 50%, 40%)"};
            border-radius: 0.5ex;
        }
    }
}



.original-flag-stripe-meanings {
    ::marker {
        content: "━ ";
        font-weight: 900;
    }

    .hot-pink::marker {
        color: var(--pride--original-rainbow-flag--hot-pink);
    }

    .red::marker {
        color: var(--pride--original-rainbow-flag--red);
    }

    .orange::marker {
        color: var(--pride--original-rainbow-flag--orange);
    }

    .yellow::marker {
        color: var(--pride--original-rainbow-flag--yellow);
    }

    .green::marker {
        color: var(--pride--original-rainbow-flag--green);
    }

    .turquoise::marker {
        color: var(--pride--original-rainbow-flag--turquoise);
    }

    .indigo::marker {
        color: var(--pride--original-rainbow-flag--indigo);
    }

    .violet::marker {
        color: var(--pride--original-rainbow-flag--violet);
    }

}
