---
---

.chevron-header {

    position: relative;
    left: -1em;

    &::before {
        content: "  ";
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        left: -1ex;
        display: inline-block;
        height: 1em;
        width: 1em;
    }

    &.pink-and-red::before {
        background-image: url("/images/Pride Flags/GSM Pride Flag - Chevron (Pink & Red).svg");
    }

    &.orange::before {
        background-image: url("/images/Pride Flags/GSM Pride Flag - Chevron (Orange).svg");
    }

    &.yellow::before {
        background-image: url("/images/Pride Flags/GSM Pride Flag - Chevron (Yellow).svg");
    }

    &.green::before {
        background-image: url("/images/Pride Flags/GSM Pride Flag - Chevron (Green).svg");
    }

    &.cyan::before {
        background-image: url("/images/Pride Flags/GSM Pride Flag - Chevron (Cyan).svg");
    }

    &.indigo::before {
        background-image: url("/images/Pride Flags/GSM Pride Flag - Chevron (Indigo).svg");
    }

    &.purple::before {
        background-image: url("/images/Pride Flags/GSM Pride Flag - Chevron (Purple).svg");
    }

    &.white::before {
        background-image: url("/images/Pride Flags/GSM Pride Flag - Chevron (White).svg");
    }

    &.grey::before {
        background-image: url("/images/Pride Flags/GSM Pride Flag - Chevron (Grey).svg");
    }

    &.yellow::before,
    &.white::before {
        background-color: #{"hsl(0deg, 0%, 50%, 40%)"};
        border-radius: 0.5ex;
    }
}
