<a href="{{ include.websiteUrl }}" target="_blank">
    <figure class="app-cloud-app{% if include.highly %} highly-recommended{% endif %}">
        <div class="app-logo-holder {% if include.circular_icon %}circular {% endif %}app-logo   flex-column flex-vert-center flex-horiz-center">{% if include.darkMode_iconUrl %}
            <img src="{{ include.iconUrl }}" data-target-theme="light"/>
            <img src="{{ include.darkMode_iconUrl }}" data-target-theme="dark"/>
        {% else %}
            <img src="{{ include.iconUrl }}"/>
        {% endif %}
        </div>
        <figcaption>
            {{ include.appName }}
        </figcaption>
    </figure>
</a>
