
.app-cloud {
    margin: 0;
    padding: 0;

    list-style-type: none;
    text-align: center;

    --app-logo-width: 1in;
    --app-logo-height: 1in;

    >* {
        display: inline-block;
        margin: 1ex 1em;
        padding: 0;
        vertical-align: top;
    }
}


.app-cloud-platforms {
    margin: 0;
    padding: 0;

    >* {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}


.app-cloud-app {
    width: var(--app-logo-width);

    figcaption {
        margin-top: 1ex;
        font-size: 10pt;
        text-align: center;
    }

    .app-logo-holder {
        width: var(--app-logo-width);
        height: var(--app-logo-height);
    }
}
