
@import "variables";


.nav-pills {

    text-align: center;
    margin: 1cm 0;

    &>ul, &>ol {
        list-style-type: none;
        padding: 0;

        &>li {
            display: inline-block;
        }
    }

    :link, :visited,
    .nav-pill {
        border: 1px solid $lightGray;
        border-radius: 99in;
        display: inline-block;
        padding: 1ex 1em;
        margin: 1ex;


        &:hover, &:focus {
            background: unquote($blue + "30");
            text-decoration: none;
            border-color: $blue;
        }
    }
}
