.posts .post {
    flex-basis: 5in;
    max-width: 6in;
    margin: 1em;
    padding: 1em 1em 1ex;

    transition-property: background;

    border-radius: 1ex;
    background: var(--theme-background-color-at-level-raised);
    box-shadow: var(--box-shadow-z1);


    @media (max-width: 6in) {
        flex-basis: 100%;
        margin: 1em 0;
    }

    &.separator {
        flex-basis: calc(100% - 2em);
        flex-basis: fill;
        opacity: 0.7;
        background: none;
        box-shadow: none;
        text-align: center;
        max-width: none;
    }

    h1 {
        padding-block-start: 0;
        margin-block-start: 0;
        margin-block-end: 1ex;
    }

    .date {
        opacity: 0.5;
        font-size: 80%;
    }

    &.trans-nb-pride-theme {
        background-image: url("/images/NB Trans Swoopy Design.svg");
        background-position: center;
        background-size: cover;
        background-blend-mode: overlay;

        .brightness-dark &,
        .brightness-black & {
            background-blend-mode: soft-light;
            text-shadow: 1px 1px hsla(0deg, 0%, 0%, 50%);
        }
    }

    footer {
        max-width: none;
        min-height: 2em;
        margin: 1ex 0 0;

        --button-flat-margin: 0;
    }
}
