
//
// Styles for Post pages
//


.post,
.page {
    max-width: var(--desktop-small-max-width);
    margin: auto;

    a:empty {
        /*
         * Empty anchor tags are used for fragment linking; give it a tall top so links to these
         * areas don't hide the content under the app bar
         */
        padding-top: calc(3 * var(--app-bar-height-auto));
        margin-top: calc(-3 * var(--app-bar-height-auto));
    }

    p {
        line-height: 1.25;
        text-indent: 1em;

        &:not(:last-child) {
            margin: 0 0 1em;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0 0 1ex;
        padding: 2em 0 0;
    }

    h1 {
        margin-block-start: 4em;
    }

    header h1 {
        margin: 3em 0;
        padding: 0;
        text-align: center;
    }

    ul,
    ol {
        margin-block: 1em;
    }

    aside {
        width: fit-content;
        margin: 1rem;
        margin-inline-start: auto;
        padding: 1ex 1em;
        border-width: 1px;
        border-style: solid;
        border-radius: 1ex;
        border-color: var(--semitransparent-grey);
        font-size: 0.8rem;

        &,
        p {
            line-height: 1.4;
        }
    }

    figure {
        cite[role="figcaption"] {
            text-align: center;
            display: block;
            padding: 0 0 2em;
            font-size: 80%;
            opacity: 75%;
        }

        .mid-post-hero + cite[role="figcaption"]{
            margin-block-start: -2em;
        }
    }

    blockquote {
        border-inline-start: 2px solid var(--semitransparent-grey);
        margin: 2em;
        padding: 1em;
    }

    hr {
        max-width: 3in;
        margin: 2cm auto;
        border-style: solid;
        border-color: var(--semitransparent-grey);
    }


    pre {
        margin: 1em 0;
        padding: 1ex;
        border-radius: 0.5ex;
        background: var(--code-background);
    }

    blockquote cite {
        opacity: 0.5;
        font-style: italic;

        &::before {
            content: "— ";
        }
    }


    img {
        &.mid-post-hero,
        &.end-post-hero {
            display: block;
            width: 80%;
            margin-inline: auto;
            margin-block: 3em;
            max-height: calc(90vh - var(--app-bar-height-auto, 1cm));


            @media (max-width: 5in) {
                width: 100%;
            }
        }

        &.thumbnail {
            float: right;
            width: 2in;
            max-width: 100%;

            &.card {
                border-radius: var(--card-border-radius);
            }

            @media (max-width: 5in) {
                display: block;
                float: none;
                margin-inline: auto;
            }
        }

        &.hero-image,
        &.end-post-hero,
        &.card {
            border-radius: calc(var(--card-border-radius) * 2);
            box-shadow: var(--card-shadow-raised);
            padding: 0;
            border: none;
        }
    }


    @at-root .trans-nb-pride-theme {
        // .post {
        //     h1,
        //     h2,
        //     h3,
        //     h4,
        //     h5,
        //     h6 {
        //         &:not(.title) {
        //             background: url("/images/NB Flag (Faded).svg") 100% / 1em,
        //                         var(--theme-foreground-color);
        //             // background-blend-mode: multiply;
        //             -webkit-background-clip: text;
        //             -webkit-text-fill-color: transparent;
        //             -webkit-text-stroke: thin var(--theme-foreground-color);
        //
        //             transition-property: background-blend-mode, -webkit-text-stroke;
        //
        //             .brightness-dark &,
        //             .brightness-black & {
        //                 // background-blend-mode: color-dodge;
        //                 -webkit-text-stroke: unset;
        //             }
        //         }
        //     }
        // }

        .app-bar {
            // background: inherit, repeating-linear-gradient(170deg,
            //     #FFEB3B22 0, #FFEB3B22 1em,
            //     #FFF2 1em, #FFF2 2em,
            //     purple 2em, purple 3em,
            //     black 3em, black 4em
            // );

            // background: url("/images/NB Trans Swoopy Design.svg") center / contain no-repeat,
            //             url("/images/Very Wide Trans Flag.svg") left / 50% 100% no-repeat,
            //             url("/images/NB Flag.svg") right / contain repeat
            // ;

            background: linear-gradient(0, #FFF6, #FFF6),
                        url("/images/Very Wide Trans NB Swoopy Design.svg"),
                        var(--theme-background-color-at-level-raised);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            // background-blend-mode: multiply;

            .brightness-dark &,
            .brightness-black & {
                background-blend-mode: soft-light;
            }


            // .flat.button {
            //     margin: 1ex;
            //     background-color: #FFF6;
            //     text-shadow: 0 0.2ex 1ex #FFF6,
            //                  0 1px 2px #FFF6;
            //
                * {
                    color: var(--theme-foreground-color) !important;
                }
            //
            //     .brightness-dark &,
            //     .brightness-black & {
            //         background: none;
            //         text-shadow: none;
            //     }
            // }
        }
    }


    .chips {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &.content-replacer {
            margin-block-end: 2em;
        }
    }

    .chip {
        &.accented:not([selected]) {
            background: var(--button-background);
            color: var(--theme-text-on-accent-color-color);
        }

        &:link,
        &:visited,
        &:not([disabled]) {

            transition-property: background-color, box-shadow, color;

            &:hover,
            &:focus {
                box-shadow: var(--box-shadow-z3);
            }
        }
    }


    .mutates-page {
        cursor: default;
    }


    table {
        .example.no-break {
            display: inline-block;
            white-space: nowrap;
        }

        .highlight {
            background-color: hsla(65deg, 100%, 75%, .4);
        }
    }


    footer.card {
        max-width: var(--phone-portrait-medium-max-width);
        margin: 10vh auto;

        >* {
            margin: 1em 0;

            // &:first-child {
            //     margin-block-start: 0;
            // }

            &:last-child {
                margin-block-end: 0;
            }
        }

        >.chips:first-child {
            margin-block-start: 1ex;
        }

        .dates-and-times {
            list-style-type: none;
            margin-block-start: 2em;

            >* {
                margin: 1em 0;
                opacity: 0.5;
            }

            time span {
                display: inline-block;
            }
        }

        .oss-links {
            text-align: end;
        }
    }
}
