/**
 * Blog.KyLeggiero.me Theme
 *
 * @author Ky Leggiero
 * @since 2018-09-17
 */


.app-bar .title {
    text-transform: none;
}


:root {
    --font-family-title: Raleway, Questrial, var(--font-family-primary);
    --font-weight-title: 400;
    --font-size-title: calc(var(--app-bar-height-auto) / 2);
}
