---
layout: default
---

<h1>Except with tag search </h1>

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <footer class="flex-row flex-horiz-space-between flex-vert-bottom">
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>

        <ol class="tags   plain   flex-row flex-wrap flex-horiz-center flex-vert-center">
            {% for tag in post.categories %}
            {% if tag == 'Migrated' %}
            <li><a href="/tagged?{{ tag }}" class="tag" data-tag-name="{{ tag }}">{{ tag }}</a></li>
            {% endif %}
            {% endfor %}
        </ol>

        <time class="date" datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date: "%a. %F at %R" }}
        </time>
      </footer>
    </article>
  {% endfor %}
</div>
